@import "tailwindcss";

@theme {
  --color-primary: #5d5fef;
  --color-secondary: #ef5da8;
  --color-background: #f8f9ff;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: #1e293b;
    -webkit-font-smoothing: antialiased;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
}
